.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 12px ;
    padding: 12px;
}

label {
    font-weight: bold;
    font-size: large;
    padding: 12px;
    padding-left: 0px;
}

input {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 12px;
    padding: 12px;
    width: 300px;
}

.spacing {
    margin-left: auto;
    margin-right: auto;
}


.address {
    margin: 12px;
    padding: 10px;
    box-shadow: 3px 3px 3px #aaaaaa;
}

.google-map-container {
    width: 100%;
}

.marker {
    color: green;
    background-color: white ;
    font-weight: bold;
    padding: 20px; 
    width: auto;
}
